a.bible {
    font-family: georgia;
    font-style: oblique;
    color: seagreen;
    border: 0.5px solid seagreen;
    padding: 0.15em 0.3em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    display: inline-block;
}

a.bible:hover {
    color: blanchedalmond;
    background-color: seagreen;
}

.outline-2, .outline-3 {
    padding-bottom: 1.5em;
}

.outline-2 + .outline-2 {
    border-top: 4px double #444444;
}

.outline-3 + .outline-3 {
    border-top: 2.5px solid #444444;
}

.timestamp {
    color: #7F7F7F;
}

.outline-2 {
    line-height: 200%;
}

div.outline-text-1, div.outline-text-2, div.outline-text-3, div.outline-text-4, div.outline-text-5, div.outline-text-6, div.outline-text-7, div.outline-text-8 {
    padding-left: 0.5em;
    border-left: 0.5px solid #cccccc;
    border-radius: 16px;
    background-color: #fafaee;
}

p {
    padding-bottom: 0.5em;
}

li > div > p {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 0.5px dotted #cccccc;
}

p + p {
    padding-top: 0.5em;
    border-top: 0.5px dotted #cccccc;
}
